$color-main-Turquoise: #0f3460;
$color-main-Turquoise-900: #1c5fb0;
$color-main-Turquoise-500: #4f92e3;
$color-main-Turquoise-300: #bdd6f5;
$color-main-Turquoise-100: #e9f1fc;

$color-darkblue: #232a43;
$color-darkblue-900: #516194;
$color-darkblue-500: #9ca6c9;
$color-darkblue-300: #ccd1e4;
$color-darkblue-100: #eff0f6;

$color-pink: #fe7e6d;
$color-pink-900: #fe7867;
$color-pink-500: #fea59a;
$color-pink-300: #ffd2cc;
$color-pink-100: #ffe9e6;

$color-black: #000000;
$color-black-900: #262626;
$color-black-700: #808080;
$color-black-500: #808080;
$color-black-400: #cccccc;
$color-black-300: #d9d9d9;
$color-black-200: #ebebeb;
$color-black-100: #ffffff;

$color-lightblue: #008bcc;
$color-lightblue-900: #005780;
$color-lightblue-800: #1890ff;
$color-lightblue-500: #1ab6ff;
$color-lightblue-300: #99dfff;
$color-lightblue-100: #e6f7ff;

$color-paleblue: #3c67f6;
$color-paleblue-900: #597ef7;
$color-paleblue-500: #9eb3fa;
$color-paleblue-300: #ced9fd;
$color-paleblue-100: #e7ecfe;

$color-petroleum: #2d4059;
$color-petroleum-900: #446288;
$color-petroleum-500: #7795bb;
$color-petroleum-300: #ccd7e5;
$color-petroleum-100: #eef2f6;

$color-main-blue: #2075bc;
$color-main-blue-900: #217bc4;
$color-main-blue-500: #3b94de;
$color-main-blue-300: #51a0e1;
$color-main-blue-100: #92c4ed;

$color-main-lightblue: #2faae1;
$color-main-lightblue-900: #36ace2;
$color-main-lightblue-500: #63bee9;
$color-main-lightblue-300: #79c8ec;
$color-main-lightblue-100: #bce3f5;

$color-red: #ff0004;
$color-red-900: #ff3336;
$color-red-500: #ff6669;
$color-red-300: #ffb3b4;
$color-red-100: #ffe6e6;

$color-green: #52c41a;
$color-green-900: #5fe21d;
$color-green-500: #8fea61;
$color-green-300: #bff3a5;
$color-green-100: #dff9d2;

$color-primary: #1677ff;
$color-primary-900: #4da9ff;
$color-primary-500: #80c1ff;
$color-primary-300: #b3daff;
$color-primary-100: #e6f3ff;

$color-yellow: #ffff00;
$color-yellow-900: #ffff4d;
$color-yellow-500: #ffff80;
$color-yellow-300: #ffffb3;
$color-yellow-100: #ffffe6;

$colors: (
  main-blue: (
    900: $color-main-blue-900,
    500: $color-main-blue-500,
    300: $color-main-blue-300,
    100: $color-main-blue-100,
  ),
  main-lightblue: (
    900: $color-main-lightblue-900,
    500: $color-main-lightblue-500,
    300: $color-main-lightblue-300,
    100: $color-main-lightblue-100,
  ),
  main-Turquoise:
  (
    900: $color-main-Turquoise-900,
    500: $color-main-Turquoise-500,
    300: $color-main-Turquoise-300,
    100: $color-main-Turquoise-100,
  ),
  darkblue: (
    900: $color-darkblue-900,
    500: $color-darkblue-500,
    300: $color-darkblue-300,
    100: $color-darkblue-100,
  ),
  pink: (
    900: $color-pink-900,
    500: $color-pink-500,
    300: $color-pink-300,
    100: $color-pink-100,
  ),
  black: (
    900: $color-black-900,
    700: $color-black-700,
    500: $color-black-500,
    400: $color-black-400,
    300: $color-black-300,
    200: $color-black-200,
    100: $color-black-100,
  ),
  lightblue: (
    900: $color-lightblue-900,
    800: $color-lightblue-800,
    500: $color-lightblue-500,
    300: $color-lightblue-300,
    100: $color-lightblue-100,
  ),
  paleblue: (
    900: $color-paleblue-900,
    500: $color-paleblue-500,
    300: $color-paleblue-300,
    100: $color-paleblue-100,
  ),
  petroleum: (
    900: $color-petroleum-900,
    500: $color-petroleum-500,
    300: $color-petroleum-300,
    100: $color-petroleum-100,
  ),
  red: (
    900: $color-red-900,
    500: $color-red-500,
    300: $color-red-300,
    100: $color-red-100,
  ),
  green: (
    900: $color-green-900,
    500: $color-green-500,
    300: $color-green-300,
    100: $color-green-100,
  ),
  primary: (
    900: $color-primary-900,
    500: $color-primary-500,
    300: $color-primary-300,
    100: $color-primary-100,
  ),
  yellow: (
    900: $color-yellow-900,
    500: $color-yellow-500,
    300: $color-yellow-300,
    100: $color-yellow-100,
  ),
);

$colorRange: (900, 800, 700, 600, 500, 400, 300, 200, 100);

@function findNearest($list, $key) {
  $lastFound: nth($list, 1);
  @each $element in $list {
    @if $key <= $element {
      $lastFound: $element;
    }
  }
  @return $lastFound;
}

@mixin color-modifiers($attribute: "color", $prefix: "-", $separator: "-") {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      & {
        #{$attribute}: map-get($color, nth(map-keys($color), 1));
      }

      @each $key in $colorRange {
        $found: findNearest(map-keys($color), $key);
        @if $found {
          &.tone#{$separator}#{$key} {
            #{$attribute}: map-get($color, $found);
          }
        }
      }
    }
  }
}
